<footer class="row bg-white row m-0 rounded-3">
    <div class="col-md-3 col-sm-6 my-1 p-0 pe-3">
        <h2 class="fw-semibold fs-5 text-start">Hổ trợ khách hàng</h2>
        <ul class="list-unstyled text-start">
            <li class="my-1">Hotline: 1900-6035
                (1000 đ/phút, 8-21h kể cả T7, CN)
            </li>
            <li class="my-1">Các câu hỏi thường gặp</li>
            <li class="my-1">Gửi yêu cầu hỗ trợ</li>
            <li class="my-1">Hướng dẫn đặt hàng</li>
            <li class="my-1">Phương thức vận chuyển</li>
            <li class="my-1">Chính sách đổi trả</li>
            <li class="my-1">Hướng dẫn trả góp</li>
            <li class="my-1">Chính sách hàng nhập khẩu</li>
            <li class="my-1">Hỗ trợ khách hàng: hotro@tiki.vn</li>
            <li class="my-1">Báo lỗi bảo mật: security@tiki.vn</li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-6 my-1 p-0 pe-3">
        <h2 class="fw-semibold fs-5 text-start">Về Tiki</h2>
        <ul class="list-unstyled text-start">
            <li class="my-1">Giới thiệu Tiki</li>
            <li class="my-1">Tiki Blog</li>
            <li class="my-1">Tuyển dụng</li>
            <li class="my-1">Chính sách bảo mật thanh toán</li>
            <li class="my-1">Chính sách bảo mật thông tin cá nhân</li>
            <li class="my-1">Chính sách giải quyết khiếu nại</li>
            <li class="my-1">Giới thiệu Tiki Xu</li>
            <li class="my-1">Gửi Astra nhận Xu mua sắm thả ga</li>
            <li class="my-1">Tiếp thị liên kết cùng Tiki</li>
            <li class="my-1">Bán hàng doanh nghiệp</li>
            <li class="my-1">Điều kiện vận chuyển</li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-6 my-1 p-0 pe-3">
        <h2 class="fw-semibold fs-5 text-start ps-0 ps-md-4 ps-lg-4 ps-sm-0">Phương thức thanh toán</h2>
        <img src="./img/payment.png" class="w-100" alt="">
    </div>
    <div class="col-md-3 col-sm-6 my-1 p-0 ">
        <div class="d-flex flex-column">
            <span class="d-flex flex-column">
                <h2 class="fw-semibold fs-5 text-start">Kết nối với chúng tôi</h2>
                <div class="d-flex align-items-center">
                    <a href="" class="mx-1 my-2">
                        <img src="./img/facebook.png" width="40" class="" alt="">
                    </a>
                    <a href="" class="mx-1 my-2">
                        <img src="./img/Instagram.png" width="40" class="" alt="">
                    </a>
                    <a href="" class="mx-1 my-2">
                        <img src="./img/YouTube.png" width="40" class="" alt="">
                    </a>
                </div>
            </span>
            <span class="d-flex flex-column">
                <h2 class="fw-semibold fs-5 text-start">Tải ứng dụng trên điện thoại</h2>
                <div class="d-flex">
                    <a href="" class="me-3" style="max-width: 38%;"><img src="./img/qrcode.png" alt=""
                            class="img-thumbnail"></a>
                    <span class="d-flex flex-column justify-content-between" style="max-width: 50%;">
                        <a href="" class="">
                            <img class="w-100" src="./img/appstore.png" alt="">
                        </a>
                        <a href="">
                            <img class="w-100" src="./img/playstore.png" alt="">
                        </a>
                    </span>
                </div>
            </span>
        </div>
    </div>
</footer>